@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.blur{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:9999999999999;
    filter:blur(10px);
    background-color: #726d6d;
    opacity: 0.6;
    display: none;
}

.layer{
    
    background-image: url('/assets/images/popup.png') ;
    background-size: cover;
    object-fit: cover;
    color: white;
    padding: 20px;
    border-radius: 18px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 18px #020202;
    overflow: hidden;
    min-width: 360px;
    z-index:1000000000000;
    
}


.layer label{
  margin-top: 10px;
  font-family: 'Noto Sans', sans-serif;
   letter-spacing: .1rem;
}

#q1{
    background-image: url('/assets/images/popup.png') ;
    background-size: cover;
    object-fit: cover;
    color: white;
    padding: 20px;
    border-radius: 18px;
    position: fixed;
    top:50%;
    left: 50%;
    /* clip-path: circle(10% at 50% 50%); */
    transform: translate(-50%,-50%);
    box-shadow: 0 0 18px #020202;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 360px;
    z-index:1000000000000;
}

#q2,#q3,#q4,#q5,#q6,#q7,#q8{
    display: none;
    flex-direction: column;
}
a.btn{
    outline: none;
    border: none;
}

.layer .btn .submit,button.btn{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  outline: none;
  background: none;
  color: white;
  border: none;
}

.btn {
  position: relative;
  letter-spacing: 0.25em;
  margin-top: 10px;
  padding: 1rem 10.5rem;
  background: transparent;
  outline: none;
  font-size: 14px;
  color: white;
}

.btn:hover{
    color: white!important;
}

.btn::after, .btn::before {
  content: "";
  outline: none;
  position: absolute;
  height: 70%;
  width: 28%;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
}

.btn::before {
  background-color: #020202;
  top: .3rem;
  left: 21%;
}

.btn::after {
  background-color: #201e1e;
  top: 1rem;
  left: 50%;
}

.btn:hover::before {
  top: 13%;
  left: 50%;
  -webkit-transform: skewx(0deg);
          transform: skewx(0deg);
}

.btn:hover::after{
    top: 13%;
    left:23%;
    -webkit-transform: skewx(0deg);
            transform: skewx(0deg);
}







  

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .input100 {
    font-family: 'Raleway-SemiBold';
    font-size: 18px;
    line-height: 1.2;
    color: black;
    outline: none;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 42px;
    border-radius: 3px;
    padding-top: .1rem!important;
    padding-left:3rem!important;
    margin-top: .2rem;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(211,63,141, 0.6);
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 20px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 20px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    font-size: 24px;
    color: #999999;
    padding-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 10px;
    pointer-events: none;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #d33f8d;
    padding-left: 18px;
  }
  
  .checkbox{
    position: relative;
    right:10%;
    
  }

  .checkbox span{
    position: relative;
    top:7px;
    left:10px;
  }

  .check {
    cursor: pointer;
    position: relative;
    top:10px;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    display:none;
    transition: opacity 0.2s ease;
  }
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  /* .check:hover:before {
    opacity: 1;
  } */
  .check:hover svg {
    stroke: #4285f4;
  }
  #cbx:checked + .check svg {
    stroke: #4285f4;
  }
  #cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  #cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  
  .check1 {
    cursor: pointer;
    position: relative;
    top:10px;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .check1:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    display:none;
    transition: opacity 0.2s ease;
  }
  .check1 svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  .check1 svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  .check1 svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  /* .check1:hover:before {
    opacity: 1;
  } */
  .check1:hover svg {
    stroke: #4285f4;
  }
  #cbx1:checked + .check1 svg {
    stroke: #4285f4;
  }
  #cbx1:checked + .check1 svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  #cbx1:checked + .check1 svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }